<div id="cfgrafico-dialog" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header modal-header-primary" >
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="cfgrafico-header">CashFlow Gráfico</h4>
            </div>
            <div class="modal-body">
                <div id="morris-area-chart"></div>
            </div>

            <div class="modal-footer">
                <button type="button" id="cfgrafico-button" class="btn btn-success" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
