<div id="cashflow-dialog" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header modal-header-primary" >
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="cashflow-header">CashFlow da simulação</h4>
            </div>
            <div class="modal-body">
                <table class="table" id="cashflow-table" name="cashflow-table">
                    <thead>
                    <tr>
                        <th name="data">Data</th>
                        <th>Capital Dívida</th>
                        <th>Fluxo</th>
                        <th>Amortização</th>
                        <th>Juro</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr></tr>
                        <tr></tr>
                        <tr></tr>
                        <tr></tr>
                        <tr></tr>
                    </tbody>
                </table>
            </div>

            <div class="modal-footer">
                <button type="button" id="cashflow-button" class="btn btn-success" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
