<div class="row">
    <div class="col-md-8 col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                Cliente
            </div>
            <div class="panel-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-3 col-lg-3">
                            <p>Nome</p>
                        </div>
                        <div class="col-md-5 col-lg-5">
                            <p>{{clinom}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-lg-3">
                            <p>Web</p>
                        </div>
                        <div class="col-md-5 col-lg-5">
                            <p>{{cliwww}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-lg-3">
                            <p>Email</p>
                        </div>
                        <div class="col-md-5 col-lg-5">
                            <p>{{clitlx}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-lg-3">
                            <p>Telefone</p>
                        </div>
                        <div class="col-md-5 col-lg-5">
                            <p>{{clitel}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Localização
            </div>
            <div class="panel-body">
                <img src="../img/Mapa.PNG" width="100%"/>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-lg-6">
        <div class="panel panel-green">
            <div class="panel-heading" style="text-align: center">
                <h1>Contratos</h1>
            </div>
            <div class="panel-body">
                <img src="../img/Mapa.PNG" width="100%"/>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-6">
        <div class="panel panel-green">
            <div class="panel-heading" style="text-align: center">
                <h1>Propostas</h1>
            </div>
            <div class="panel-body">
                <img src="../img/Mapa.PNG" width="100%"/>
            </div>
        </div>
    </div>
</div>

