<div class="col-lg-12" style="margin-top:48px; text-align: center">
    <div class="jumbotron">
        <h1>Não implementado</h1>
        <p>Esta funcionalidade só será implementada na última fase do projecto.</p>
        </p>
    </div>
</div>